:root {
    --text-color: #2e2e30;
    --violet: #404BAF;
    --turquoise: #589B97;
    --grey: #efefef;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.col {
    margin: 0 16px;
}

.between {
    justify-content: space-between;
}

#header {
    margin-bottom: 64px;
}

h1 {
    font-size: 50px;
    margin-bottom: 24px;
}

h2 {
    font-size: 36px;
    margin-bottom: 84px;
    text-align: center;
}

h3, h4 {
    font-size: 24px;
    margin-bottom: 16px;
}

.menu {
    width: calc(100% - 32px);
}

.menu ul {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 16px;
    color: var(--text-color);
    height: 40px;
    display: block;
    line-height: 2.5em;
    /*1em это 16px*/
    transition: all 0.4s ease-in-out;
}

.menu a:hover {
    color: var(--violet);
}

.hero_text {
    width: calc(50% - 32px);
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_text p {
    margin-bottom: 24px;
    line-height: 1.5em;
}

.freelanser {
    font-size: 24px;
    margin-bottom: 24px;
}


.button a, .button input {
    transition: 1s;
    background: linear-gradient(90deg, var(--turquoise), var(--violet) 50%, var(--turquoise)) var(--x, 0) / 200%;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border-radius: 32px;
    width: 100%;
    height: 64px;
    border: none;
    cursor: pointer;
}

.button a {    
    border-radius: 20px;
    height: 40px;
    width: 234px;   
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 3.3em;
}

.button a:hover, .button input:hover {
    --x: 100%;
}

.hero_img {
    width: calc(50% - 32px);
}

.hero_img img {
    width: 100%;
    height: auto;
}

#benefits {
    padding: 64px 0;
}

.benefit {
    width: calc(100% / 3 - 32px);
    margin-bottom: 64px;
}

.benefit img {
    margin-bottom: 16px;
}

.work {
    width: calc(100% / 3 - 32px);
    position: relative;
    margin-bottom: 32px;
}

.work img {
    width: 100%;
    height: auto;
}

.work::before {
    content: "";
    background: rgba(77, 121, 161, 0.7);
    width: 100%;
    /*ширина*/
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.work:hover::before {
    opacity: 1;
}

.work a {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
}


.links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.links:hover {
    opacity: 1;
}

.work a {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    margin: 0 8px;
}

.work .fullscreen {
    background: #fff url('../img/fullscreen.svg') center center no-repeat;
}


.work .link {
    background: #fff url('../img/link.svg') center center no-repeat;
}

#reviews {
    padding: 64px 0;
}

.review_img {
    width: calc(100% / 3 - 32px);
    text-align: center;
}

.review_img img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 24px;
}

.review_text {
    width: calc(100% / 12 * 8 - 32px);
}

#contacts {
    background: var(--grey);
    padding: 64px 0;
}

.form {
    width: calc(100% / 12 * 5 - 32px);
    background: white;
    border-radius: 4px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.input_field, .text_field {
    margin-bottom: 16px;
}

.input_field input, .text_field textarea {
    width: 100%;
    height: 64px;
    border-radius: 10px;
    padding: 0 16px;
    box-sizing: border-box; /*Волшебная таблетка от паддинга чтобы он не расширял блок*/
    background: var(--grey);
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border: none;
    border-radius: 32px;
    outline-color: var(--turquoise);
}

.text_field textarea {
    resize: none;
    height: 200px;
    padding: 16px;
}

.social_links {
    width: calc(50% - 32px);
}

.social_links a {
    color: var(--text-color);
    text-decoration: none;
}

.phone, .email {
    width: calc(50% - 32px);
    margin-bottom: 64px;
}

.social {
    width: calc(100% - 32px);
    margin-bottom: 64px;
}

.icons {
    width: calc(100% - 32px);
    margin-bottom: 64px;
}

.icons a {
    margin-right: 8px;
}

.policy a {
    text-decoration: underline;
}

#policy {
    display: none;
}

#footer {
    background: linear-gradient(90deg, var(--turquoise), var(--violet) 50%, var(--turquoise)) var(--x, 0) / 200%;
    padding: 64px 0;
}

.copyright  {
    width: calc(100% - 32px);
    text-align: center;
    color: var(--grey);
}

/*от 959 до 768px*/

@media screen and (max-width: 959px) {
    .hero_text {
        width: calc(100% - 32px);
        text-align: center;
    }
    .button a {
        margin: 0 auto;
    }
    .hero_img {
        width: calc(100% - 32px);
        text-align: center;
    }
    .benefit {
        width: calc(50% - 32px);
    }

    .work {
        width: calc(50% - 32px);
    }

    .review_img {
        width: calc(100% - 32px);
        margin-bottom: 32px;
    }

    .review_text {
        width: calc(100% - 32px);
    }

    .form {
        width: calc(100% / 12 * 10 - 32px);
        margin-bottom: 32px;
    }
    .center {
        justify-content: center;
    }
    .social_links {
        width: calc(100% / 12 * 10 - 32px);
        text-align: center;
    }
}

.mobile_button, .mobile_menu {
    display: none;
}

.mobile_menu {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

/*от 575 до 768px*/
@media screen and (max-width: 575px)  {
    .hero_text {
        height:100%;
        padding: 64px 0;
    }
    .menu {
        display: none;
    }
    .mobile_button {
        background: rgba(0, 0, 0, 0.9) url("../img/burger.svg") center center no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .mobile_button.active {
        background: rgba(0, 0, 0, 0.9) url("../img/close.svg") center center no-repeat;
        padding: 40px;
        box-sizing: border-box;
        width: 320px;

    }
    .mobile_menu {
        background: rgba(0, 0, 0, 0.9);
        padding: 40px;
        box-sizing: border-box;
        width: 320px;
    }
    .mobile_menu.active {
        opacity: 1;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .mobile_menu a {
        display: block;
        height: 50px;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 3.4em;
        color: #ffff;
        border-bottom: 1px solid #333333;
    }
    .benefit {
        width: calc(100% - 32px);
        text-align: center;
    }
    .work {
        width: calc(100% - 32px);
    }
    .form {
        width: calc(100% - 32px);
        }
        .social_links {
            width: calc(100% - 32px);
        }
        /*от 419 до 320px*/
        @media screen and (max-width: 419px){
            .email, .phone, .social {
                width: calc(100% - 32px);
                text-align: center;
            }
        }
}  

/*
    1920
    1440
    1366 - 1368
    1200

    1024
    992
    960

    768
    576
    420
    365
    320

*/
